<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.dyndns.fzoli.mill.android"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="10" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".SignInActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".SignUpCaptchaActivity" />
		<activity android:name=".SignUpActivity" />
		<activity android:name=".HomeActivity" />
		<activity android:name=".ChatActivity" />
		<activity android:name=".PlayerAvatarActivity" />
		<activity android:name=".PlayerAccountSettingsActivity" />
		<activity android:name=".PlayerSettingsCaptchaActivity" />
		<activity android:name=".PlayerSettingsActivity" />
		<activity android:name=".SettingsActivity" />
		<activity android:name=".ConnectivityActivity" />
		<service android:name=".MillConnectionService" />
	</application>
</manifest>